body{height:4000px;width:1500px;}


.desk{
    position: relative;
    background-color: darkgray;
    height:1000px;
    width:1000px;
    margin:10px;
    border: medium solid black;
}



.canvas1{
    position: absolute;
    background-color: white;
    height:300px;
    width:300px;
}

.canvas2{
    position:absolute;
    top:350px;
    left:0px;
    background-color: white;
    height:300px;
    width:300px;
}

#box1{
    background-color: lightcoral;
    height:100px;
    width:100px;
}

#box2{
    background-color: lightblue;
    height:100px;
    width:100px;
    
}

#box3{background-color: lightsalmon;
    height:100px;
    width:100px;
    
}


#box1{
    position:absolute;
    top:0px;
    left:0px;
}
#box2{
    position:absolute;
    top:100px;
    left:100px;
}
#box3{
    position:absolute;
    bottom:0px;
    right:0px;
}

.hakoset{
    position:absolute;
    top:0px;
    left:350px;
    background-color: lightgreen;
    height:300px;
    width:100px;
}

.hakoset img{vertical-align: bottom;}

.kaisetu{
    position:absolute;
    top:0px;
    left:500px;
    background-color: white;
    height:150px;
    width:300px;
    
}

.tanbo1,.tanbo2,.tanbo3,.tanbo4{
    background-color: black;
    height:100px;
    width:100px;
}

.tanbo1{
    position: absolute;
    top:33px;
    left:33px;
}

.tanbo2{
    position: absolute;
    top:133px;
    left:33px;
}

.tanbo3{
    position: absolute;
    top:33px;
    left:133px;
}

.tanbo4{
    position: absolute;
    top:133px;
    left:133px;
}

.svgtest{
    position: absolute;
    top:0px;
    left:300px;
}

.svgtest:hover{
    stroke-width:20px;

}