
body{
    margin: 0;
    height:2000px;
}
#contents{
    position: fixed;
    width:100%;
    height:100vh;
}

#contents p{
    position: absolute;
    top: 40%;
    left:4%;
    text-align: center;
    z-index:10;
    font-size:50px;
    color:white;
}

#tes1{
    position: absolute;
    width:100%;
    height:100vh;
    background: linear-gradient(0deg, white, lightblue);
    z-index:6;
    opacity:1;
    transition-duration: 0.4s;
}

#tes2{
    position: absolute;
    width:100%;
    height:100vh;
    background: linear-gradient(0deg, lightgreen,white);
    z-index:5;
    opacity:1;
    transition-duration: 0.4s;
}

#tes3{
    position: absolute;
    width:100%;
    height:100vh;
    background-color: green;
    z-index:4;
    opacity:1;
    transition-duration: 0.4s;
}

#tes4{
    position: absolute;
    width:100%;
    height:100vh;
    background-color: yellow;
    z-index:3;
    opacity:1;
    transition-duration: 0.4s;
}

#tes5{
    position: absolute;
    width:100%;
    height:100vh;
    background-color: red;
    z-index:2;
    opacity:1;
    transition-duration: 0.4s;
}

#tes6{
    position: absolute;
    width:100%;
    height:100vh;
    background-color: red;
    z-index:1;
    opacity:1;
    transition-duration: 0.4s;
}